## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.5322,20.0403,61.29,70,44,12.17,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,42.46,81,40,11.50,scattered clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.61,74,67,10.56,broken clouds
3,3,Cidreira,BR,-30.1811,-50.2056,71.33,83,60,7.07,broken clouds
4,4,Longyearbyen,SJ,78.2186,15.6401,8.44,72,0,11.50,clear sky

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you woud like to for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
updated_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
    (city_data_df['Max Temp'] >= min_temp)]
updated_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.5322,20.0403,61.29,70,44,12.17,scattered clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.61,74,67,10.56,broken clouds
3,3,Cidreira,BR,-30.1811,-50.2056,71.33,83,60,7.07,broken clouds
5,5,Adrar,MR,20.5022,-10.0711,67.05,21,100,8.77,overcast clouds
6,6,Cabedelo,BR,-6.9811,-34.8339,79.47,77,75,9.80,broken clouds
...,...,...,...,...,...,...,...,...,...,...
685,685,Kindia,GN,10.0569,-12.8658,68.68,35,68,1.52,broken clouds
687,687,Damietta,EG,31.4165,31.8133,61.00,64,100,6.42,overcast clouds
688,688,Aloleng,PH,16.1307,119.7824,82.42,58,26,11.21,scattered clouds
689,689,Flinders,AU,-34.5833,150.8552,72.18,56,84,8.99,broken clouds
692,692,Takoradi,GH,4.8845,-1.7554,78.96,81,80,4.52,light rain

In [22]:
# 4a. Determine if there are any empty rows.
updated_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
updated_df = updated_df.dropna()
updated_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.5322,20.0403,61.29,70,44,12.17,scattered clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.61,74,67,10.56,broken clouds
3,3,Cidreira,BR,-30.1811,-50.2056,71.33,83,60,7.07,broken clouds
5,5,Adrar,MR,20.5022,-10.0711,67.05,21,100,8.77,overcast clouds
6,6,Cabedelo,BR,-6.9811,-34.8339,79.47,77,75,9.80,broken clouds
...,...,...,...,...,...,...,...,...,...,...
685,685,Kindia,GN,10.0569,-12.8658,68.68,35,68,1.52,broken clouds
687,687,Damietta,EG,31.4165,31.8133,61.00,64,100,6.42,overcast clouds
688,688,Aloleng,PH,16.1307,119.7824,82.42,58,26,11.21,scattered clouds
689,689,Flinders,AU,-34.5833,150.8552,72.18,56,84,8.99,broken clouds
692,692,Takoradi,GH,4.8845,-1.7554,78.96,81,80,4.52,light rain

In [35]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = updated_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,61.29,scattered clouds,-34.5322,20.0403,
2,Hithadhoo,MV,81.61,broken clouds,-0.6000,73.0833,
3,Cidreira,BR,71.33,broken clouds,-30.1811,-50.2056,
5,Adrar,MR,67.05,overcast clouds,20.5022,-10.0711,
6,Cabedelo,BR,79.47,broken clouds,-6.9811,-34.8339,
8,Puerto Ayora,EC,69.30,overcast clouds,-0.7393,-90.3518,
9,Isangel,VU,84.31,overcast clouds,-19.5500,169.2667,
11,Kambove,CD,60.87,light rain,-10.8764,26.5969,
13,Saint-Philippe,RE,78.22,broken clouds,-21.3585,55.7679,
14,Lethem,GY,77.92,overcast clouds,3.3803,-59.7968,

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    # Get the lstitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictioary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found......skipping.")

Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.
Hotel not found......skipping.

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,61.29,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
2,Hithadhoo,MV,81.61,broken clouds,-0.6000,73.0833,Scoop Guest House
3,Cidreira,BR,71.33,broken clouds,-30.1811,-50.2056,Hotel Castelo
5,Adrar,MR,67.05,overcast clouds,20.5022,-10.0711,
6,Cabedelo,BR,79.47,broken clouds,-6.9811,-34.8339,Hotel Pigalle
...,...,...,...,...,...,...,...
685,Kindia,GN,68.68,broken clouds,10.0569,-12.8658,LES EAUX DE KILISSI
687,Damietta,EG,61.00,overcast clouds,31.4165,31.8133,SULIMAN INN
688,Aloleng,PH,82.42,scattered clouds,16.1307,119.7824,Steve Walden and Emma Sison-Walden Residence
689,Flinders,AU,72.18,broken clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
692,Takoradi,GH,78.96,light rain,4.8845,-1.7554,Raybow International Hotel

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))